* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  /* variable */
  --color--primary: hsl(160deg, 100%, 30%);
  --color--secondary-lighter: hsl(45deg, 100%, 50%);
  --color-secondary-darker: hsl(45deg, 100%, 40%);

  --color--gray--black: hsl(0deg, 0%, 0%);
  --color--gray--vary-dark: hsl(0deg, 0%, 10%);
  --color--gray--dark: hsl(0deg, 0%, 30%);
  --color--gray--medium: hsl(0deg, 0%, 40%);
  --color--gray--light: hsl(0deg, 0%, 60%);
  --color--gray--white: hsl(0deg, 0%, 100%);
}

html, body, p, h1, h2 {
  margin: 0;
  padding: 0;
}

header {
  margin-top: 96px;
  border-bottom: 8px solid var(--color--gray--light);
  padding: 0 24px;;
}

.max-width-wrapper {
  max-width: 800px;
  margin: auto;
}

.intro-chunk {
  max-width: 400px;
}

.intro-chunk p:first-of-type {
  margin-top: 48px;
  margin-bottom: 16px;
}

.intro-chunk p:last-of-type {
  margin-bottom: 64px
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

p {
  font-size: 1.25rem;
}

strong {
  color: var(--color--primary)
}

main {
  background-color: var(--color--gray--dark);
  padding: 64px 0;
}

.card {
  background-color: var(--color--gray--white);
  padding: 8px 24px;
  border-bottom: 8px solid var(--color--gray--light);
}

h2 {
  width: fit-content;
  font-size: 1.5rem;
  background-color: var(--color--secondary-lighter);
  padding: 16px 32px;
  border-bottom: 8px solid var(--color-secondary-darker);
  margin-left: -32px;
}

.card p:first-of-type {
  margin: 16px 0px;
}

.card p:last-of-type {
  margin-bottom: 16px;
}
